<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Casper</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% // if(currentUser) { %> 
          <a class="nav-link" href="/noticias">Painel de Controle</a>          
          <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#formNew">Criar Notícia</a>
          <a class="nav-link" href="/logout">Logout</a>
          <% // } %> 
      </div>
    </div>
  </nav>