<%-  include('../partials/header') %>

<h1>Espaço para criar uma nova notícia com um formulário</h1>

<form method="POST" action="/noticias">
    <div>
        <label for="title">Insira o título da notícia:</label>
        <input type="text" name="noticia[title]" id="title">
    </div>
    <div>
        <label for="subtitle">Descreva brevemente a notícia:</label>
        <input type="text" name="noticia[subtitle]" id="subtitle" maxlength="200">
    </div>
    <div>
        <label for="image_url">Insira o link da imagem da notícia:</label>
        <input type="url" name="noticia[image_url]" id="image_url" placeholder="https://example.com">
    </div>
    <div>
        <label for="theme">Escolha o tema da notícia:    </label>
        <select name="noticia[theme]" id="theme">
            <option value="Esportes">Esportes</option>
            <option value="Famosos">Famosos</option>
            <option value="Entretenimento">Entretenimento</option>
            <option value="Politica">Política</option>
        </select>
    </div>
    <div>
        <label for="content">Escreva sua notícia:</label>
        <textarea name="noticia[content]" id="content" cols="30" rows="5"></textarea>
    </div>
    <button>Criar Notícia</button>
</form>

<form method="GET" action="/noticias">
    <button>Voltar para casa</button>
</form>

<%- include('../partials/footer') %>