<% layout('layouts/boilerplate')  %> 

<h1>Login</h1>

<form method="POST" action="/">
    <div>
        <label for="username">Usuário:</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password">
    </div>
    <button>Acessar</button>
</form>